* {
    font-family: "Google Sans", sans-serif;
}

h1 {
    font-family: "BBH Bogle", sans-serif;
}

.progress {
    height: 5px;
    background-color: #00000068;

    animation: progress-grow linear both;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.card-gradient {
    background: linear-gradient(#fff 15%, #a2e950);
}

.card-bg {
    background-image: url("../img/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.reveal {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;
    }
    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}